body {
    position: fixed;
    background-color: rgb(180, 176, 175);
    font-family: "Trispace", sans-serif;
    color: rgb(93, 76, 72);
}

.img {
    width: 4200px;
    height: 3644px;
    position: relative;
    background:
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("A1.jpg");
    background-repeat: no-repeat;
    background-size: 31%;
}

.container1 {
    position: fixed;
    width: 355.6mm;
    height: 279.4mm;
    background-color: whitesmoke;
    margin: 10mm;
    border-radius: 2mm;
    box-shadow: -2mm 3mm 10mm 0mm #00000075;
}

.box1 {
    position: relative;
    width: 340.6mm;
    height: 264.4mm;
    border-radius: 2mm;
    border: 1mm solid rgb(93, 76, 72);
    top: 7.5mm;
    left: 7.5mm;
    overflow: hidden;
}

.letter1 {
    position: absolute;
    font-size: 25mm;
    top: 25mm;
    left: 28.1%;
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6 {
    position: absolute;
}

.line1 {
    top: 53mm;
    left: 114mm;
}

.line2 {
    top: 55.5mm;
    left: 105.6mm;
}

.line3 {
    top: 58mm;
    left: 114mm;
}

.line4 {
    top: 53mm;
    right: 99.6mm;
}

.line5 {
    top: 55.5mm;
    right: 91.6mm;
}

.line6 {
    top: 58mm;
    right: 99.6mm;
}

.letter2 {
    position: absolute;
    font-size: 10mm;
    top: 54mm;
    left: 38.5%;
}

.box2 {
    position: absolute;
    width: 200mm;
    height: 10mm;
    border-radius: 1mm;
    border: 0.2mm solid rgb(93, 76, 72);
    top: 73.5mm;
    left: 78.5mm;
}

.letter3 {
    position: absolute;
    font-size: 8mm;
}

.box3 {
    position: absolute;
    height: 10.5mm;
    width: 4mm;
    top: 73.5mm;
    left: 73mm;
    background-color: rgb(93, 76, 72);
}

.halfcircle1 {
    position: absolute;
    width: 10.5mm;
    height: 10.5mm;
    background-color: rgb(93, 76, 72);
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 0mm;
    left: -6.5mm;
    transform: rotate(-90deg);
}

.box4 {
    position: absolute;
    height: 10.5mm;
    width: 4mm;
    top: 73.5mm;
    right: 71mm;
    background-color: rgb(93, 76, 72);
}

.halfcircle2 {
    position: absolute;
    width: 10.5mm;
    height: 10.5mm;
    background-color: rgb(93, 76, 72);
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 0mm;
    right: -6.5mm;
    transform: rotate(90deg);
}

h1 {
    position: absolute;
    font-size: 30mm;
    font-family: "Permanent Marker";
    top: 94mm;
    left: 53mm;
    margin: 0mm;
}

.letter5 {
    position: absolute;
    font-size: 11mm;
    top: 145mm;
    left: 45mm;
    margin-left: 48mm;
    margin-right: 48mm;
}

.letter6 {
    position: absolute;
    font-size: 10mm;
    top: 160mm;
    left: 16mm;
    margin-left: 10mm;
    margin-right: 10mm;
}

.letter7 {
    position: absolute;
    font-size: 10mm;
    top: 175mm;
    left: 10mm;
    margin-left: -1mm;
}

.letter8 {
    position: absolute;
    font-size: 10mm;
    top: 190mm;
    left: 55mm;
    margin-left: 48mm;
}

.line7 {
    position: absolute;
    bottom: 35mm;
    left: 50mm;
    font-size: 12mm;
}

.line8 {
    position: absolute;
    bottom: 35mm;
    right: 50mm;
    font-size: 12mm;
}

.letter9 {
    position: absolute;
    bottom: 23mm;
    font-size: 10mm;
    left: 73mm;
}

.letter10 {
    position: absolute;
    bottom: 23mm;
    font-size: 10mm;
    right: 58mm;
}